.login {
    background-color: white;
    width:50%;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    color: #232F3E !important;
    width:100%;
}

.form {
    padding:15px;
    font-family: 'Roboto', sans-serif !important;
    background-color:#E1E0DE;
}

input {
    width:200px;
    height:35px;
    padding-left:5px;
    border-radius: 3px;
    border-color:black;
    border-style: solid;
    background-color: white;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;
}

.navbar-nav>li>a {
    color: #232F3E;  
    padding-top:15px;
}

.cartIcon {
    padding-right:5%;
    width: 40%;
}

.paypal {
    width:65px;
    margin-top:-7px;
    padding:0px;
}

.login {
    margin-right:-15%;
}

.dropdown-menu {
    padding:0px;
    border: 0px;
}

.username {
    margin-top:5%;
    margin-bottom:10px;
}

.register {
    margin-bottom:5%;
    width:100%;
    text-align: left;
}
.registerContainer {
    font-family: 'Roboto', sans-serif !important;
    margin-bottom:5%;
    width:100%;
    text-align: right;
}
.form{
    width:100%;
    text-align:center;
    display: block;
}
.navbar-text{
    padding-left:0px;
    margin-bottom:0px;
}

#btnLogin {
    width:25%;
    margin-top:0%;
    background-color: #59699C !important; 
    color:white; 
    text-align: center; 
}
#btnClose {
    width:25%;
    background-color: #5F626B !important; 
    color:white; 
    text-align: center; 
    float:right;
}

button.formLogin {
    margin-top:16px;
}

#navbar2 {
    margin-right:-7%;
}

.modal-title {
    text-align: center;
    padding-bottom:1%;
    color: #59699C;
    font-weight: bold;  
}
.modalDesc {
    text-align: center;
}
.regInput {
    text-align:left;
    color: #59699C;
    font-weight: bold;
}
#Email  {
    margin-top:5px;
    margin-left:0px;
    margin-bottom:10px;
}
#Username {
    margin-top:5px;
    margin-left:0px;
    margin-bottom:10px;
}
#Password {
    margin-top:5px;
    margin-left:0px;
    margin-bottom:25px;
}


@media screen and (max-width: 768px) and (min-width: 641px){
    .cartIcon {
        display: none;
    }
    button.formLogin {
        margin-top:0px;
    }
    #btnLogin {
        margin-top:10%;  
    }
    .paypal {
        display: none;
    }
    .login {
        text-align: right;
        display: inline;
    }
    .btn {
        background-color: #59699C !important; 
        color:white;  
    }
    .loginBtn {  
        margin-right:45px;
    }
    #btnLogin {
        margin-top:2%;
    }    
}

@media screen and (max-width: 980px) and (min-width: 769px) {     
}

@media screen and (min-width: 981px) {
}

   